/* Page-Wide */
body {
  background-color: rgb(87, 87, 87);
  color: black;
  padding: 10px;
  font-family: 'Big Shoulders Text', cursive;
  text-align: center;
}

/* Paragraph Content */

.text {
  background-color: rgb(49, 52, 36);
  color: white;
  padding: 5px;
  font-family: 'Roboto Mono', monospace;
  line-height: 2em;
}
P:first-letter{
  font-family: 'Major Mono Display', monospace;
  font-size: 3em;
  font-weight:500;
  color: rgb(244, 235, 26);

}
/* "Read More!" Link */
a{
background-color: rgb(10, 43, 57);
color: rgb(244, 235, 26);
padding: 20px;

}

a:hover{ background-color: rgb(120, 72, 15);


}

a:visited{
  font-style: italic;
  background-color: rgb(49, 52, 36);

}

a:active{
color: black;

}
