body {
 background-color: rgb(74, 65, 45);
 font-family: 'Nanum Gothic', sans-serif;
}

h1{
    font-family: 'Reenie Beanie', cursive;
    font-size: 5em;
    font-weight:500;
    color: rgb(193, 122, 17);
    text-align: center;
}

h2{
    font-family: 'Reenie Beanie', cursive;
    font-size: 3em;
    font-weight:500;
    color: rgb(193, 122, 17);
    text-align: center;
}

P:first-letter{
    first-letter
    font-family: 'Reenie Beanie', cursive;
    font-size: 3em;
    font-weight:500;
    color: rgb(193, 122, 17);
}



/* Set your header design: */
header {
    background-color: rgb(27, 64, 27);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    margin: 0;
    height: 2.15em;
    text-align: center;
}

/* Set the layout of the menu: */
.menu-item {
    display: inline-block;
    margin: 0 0;
    min-width: 8em;
    text-align: center;
    background-color:rgb(148, 81, 32);
    padding: 0.5em 0;
}

/* Style the links: */
.menu-item a {
    color: #fff;
    text-decoration: none;
}
.menu-item:hover {
    background-color: #1CCDCA;
}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0;
    margin-top: 0.5em;
    color: #000;
    background-color: rgb(148, 81, 32);
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: #baf0ef;
    background-color: rgb(66, 61, 58);
}
